body{
    background-image: url(../img/body.jpg);
    background-size: contain !important;
    color: white !important;
}

nav.bg-body-tertiary{
    --bs-bg-opacity: 1;
    background-image: url(../img/fondo.gif);
}
i{
    color: rgb(62, 222, 219);
    font-size: 50px;
    margin: 20px;
}
.juego{
    font-size: 80px;
}
.titulo{
    text-shadow: 0 0 10px rgb(255, 255, 255) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #dc0ec0 , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    font-size: 50px;
    background-image: url(../img/fondo2.gif);
}
.carousel-inner{
    width: 100% !important;
}
h1{
    text-align: center;
}
div.parrafos{
    display: flex;
    align-items: stretch !important;
    width: 100% !important;
}
.metro{
    font-size: 40px;
}
.text-center{
    width: 100%;
}
.parrafos{
    width: 100%;
}
.colores11{
    color: rgb(237, 184, 184);
}
.colores21{
    color: rgb(190, 239, 236);
}
.colores31{
    color: rgb(250, 249, 209);
}
.colores1{
    background-color: rgb(237, 184, 184);
    padding: 100px !important;
    color: rgb(69, 68, 68);
    border-radius:30px;
}
.colores2{
    background-color: rgb(190, 239, 236);
    padding: 100px !important;
    color: rgb(69, 68, 68);
    border-radius:30px;
}
.colores3{
    background-color: rgb(250, 249, 209);
    padding: 100px !important;
    color: rgb(69, 68, 68);
    border-radius:30px;
}
.descripcion{
    display: flex;
    align-items: center;
    justify-content:center;
}
ul{
    color: #dc0ec0;
}
.comun{
    text-align: center;
    color: aqua;
}
.texto{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 20px !important;
}
.texto2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 20px !important;

}
.fondogris{
    background: rgb(252,176,69);
    background: linear-gradient(0deg, rgba(252,176,69,1) 0%, rgba(135,134,134,0.45702030812324934) 0%);
}
form{
    width: 100% !important;
    background-color: antiquewhite;
    text-align: center;
    color: black;
}
.enviar{
    font-size: 30px;
    background-color: rgb(255, 145, 0);
    color: rgb(255, 255, 255);
}
footer{
    background-color: rgb(49, 49, 49);
    width:100% !important;
    color: rgb(122, 215, 255);
}
.casilla{
    width:15%;
}